.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navigationBar:global(.__wab_instance) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
  z-index: 1;
  position: fixed;
  right: 0;
  padding: 16px;
}
.link__btvzs {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img___20PRr {
  object-fit: cover;
  height: 40px;
}
.img___20PRr > picture > img {
  object-fit: cover;
}
.img__uYgw3 {
  object-fit: cover;
}
.img__uYgw3 > picture > img {
  object-fit: cover;
}
.img__wxqPe {
  object-fit: cover;
}
.img__wxqPe > picture > img {
  object-fit: cover;
}
.link__wTf2B {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  color: #000000;
}
.link__utYvA {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  color: #000000;
}
.link__ychRy {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-size: 20px;
  color: #020202;
}
.link__pcBbm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  font-size: 20px;
  color: #000000;
}
.freeBox__xpo9A {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: url("/plasmic/otanfun/images/otanlamboPng.png") top 50% left 50% / cover repeat;
  padding-left: 32px;
  padding-right: 32px;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xpo9A {
    height: auto;
  }
}
.freeBox___7RWp4 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  min-height: 0;
  padding: 90px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___7RWp4 {
    height: auto;
  }
}
.text__j4Fi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: 10em;
  color: #000000;
  min-width: 0;
}
.text___63Xkz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 600px;
  font-size: 1.5em;
  color: #ffffff;
  min-width: 0;
}
.freeBox__tXiAw {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tXiAw {
    height: auto;
  }
}
.freeBox__x4Zjj {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__x4Zjj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.freeBox__x4Zjj > :global(.__wab_flex-container) > *,
.freeBox__x4Zjj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__x4Zjj > :global(.__wab_flex-container) > picture > img,
.freeBox__x4Zjj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x4Zjj {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x4Zjj > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__x4Zjj > :global(.__wab_flex-container) > *,
  .freeBox__x4Zjj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__x4Zjj > :global(.__wab_flex-container) > picture > img,
  .freeBox__x4Zjj
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 24px;
  }
}
.img__xcUcB {
  object-fit: cover;
  max-width: 100%;
  width: 250px;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__xcUcB > picture > img {
  object-fit: cover;
}
.img__i9Hvf {
  object-fit: cover;
  max-width: 100%;
  width: 250px;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__i9Hvf > picture > img {
  object-fit: cover;
}
.img__hwPpz {
  object-fit: cover;
  max-width: 100%;
  width: 250px;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__hwPpz > picture > img {
  object-fit: cover;
}
.img__gKZo {
  object-fit: cover;
  max-width: 100%;
  width: 250px;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__gKZo > picture > img {
  object-fit: cover;
}
